.containerPageSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headingSignInPage {
  padding-top: 80px;
  color: white;
  text-transform: uppercase;
}
