.input {
  position: relative;
  padding: 5px 10px;
  border: 1px solid grey;
}

.validInput {
  border-color: green;
}

.errorInput {
  border-color: red;
}

.errorMessage {
  position: absolute;
  border: 2px solid red;
  padding: 8px 72px;
  top: 317px;
  left: 710px;
}