@import '../../../common/styles/breakpoints';

.input {
  padding: 5px 10px;
  border: 3px solid gray;
  .inputStyleSignIn {
    margin-bottom: 38px;
  }
}

.validInput {
  border-color: green;
}

.errorInput {
  border-color: red;
}

.errorMessage {
  position: absolute;
  top: 72px;
  left: 0px;
  padding: 2px 58px;
  border: 2px solid red;
  @media screen and (max-width: $sm) {
    padding: 2px 88px;
    text-align: center;
  }
}

.label {
  position: relative;
  margin-bottom: 55px;
}

.inputStyleSignIn {
  min-width: 500px;
  padding: 24px;
  outline: none;

  @media screen and (max-width: $sm) {
    min-width: 350px;
    padding: 20px;
  }
}
