@import '../../common/styles/breakpoints';

.containerHeaderSignIn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 970px;

  @media screen and (max-width: $lg) {
    min-width: 750px;
  }
  @media screen and (max-width: $md) {
    min-width: 550px;
  }
  @media screen and (max-width: $sm) {
    min-width: 360px;
  }
}

.linkHeaderSignIn {
  color: white;
  border: 1px solid white;
  padding: 12px 20px;
  font-weight: 700;
  text-decoration: none;
}

.padding {
  padding-top: 50px;
}
