.containerHeaderSignIn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 130px;
  background-color: coral
}

.linkHeaderSignIn {
  color: white;
  border: 1px solid white;
  padding: 12px 20px;
  font-weight: 700;
  text-decoration: none;
}