@import '../../common/styles/breakpoints';

.containerPageSignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.headingSignUpCreateAccount {
  font-size: 39px;
  @media screen and (max-width: $sm) {
    font-size: 30px;
  }
}
.containerHeadingSignUp {
  max-width: 412px;
  text-align: center;
  @media screen and (max-width: $sm) {
    max-width: 320px;
    font-size: 15px;
  }
}
